table {
    margin-left: 1%;
}

tr, th {
    font-size: 1.2rem;
    text-align: left;
    width: 1%;
}

.tables-error-box {
    padding: 1%;
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
    font-size: 1.2rem;
}

.event-tables-error-box {
    padding: 1%;
    width: 75%;
    margin-left: 1%;
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
    font-size: 1.2rem;
}

.tables-span {
    font-size: 1.0rem;
}

.tables-span h2 {
    margin-top: 3%;
}