<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--page's setup-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1">

		<meta name = "description" content = "">
		<meta name = "author" content = "">

        <title>scoreDEI</title>

		<!--Online method of including fonts-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		
		<link rel = "stylesheet" href = "/css/mainstyle.css">
		<link rel = "icon" href = "">
    </head>

    <!--page's content-->
    <body>
        <header>
			<!-- Login nav bar  -->
			<nav class = "header-nav">
				<!-- Anonymous user -->
				<ul th:if="${session.authToken == null}">
                    <li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{login}">Login</a></li>
					<!--<li><a th:href="@{register}">Register</a></li>-->
                </ul>
				<!-- User logged in -->
				<ul th:if="${session.authToken != null}">
                    <li><a th:href="@{/}">Home</a></li>
					<li class = "nav-title"><h4><span th:text="${session.username}"/></h4></li>
					<li>
						<form th:action="@{/logout}" method="post">
							<button type="submit">Logout</button>
						</form>
					</li>
                </ul>
			</nav>
        </header>

        <main>
			<!-- Main menu nav bar  -->
			<nav class = "main-nav">
				<ul>
                    <h2><li class="nav-title">scoreDEI&nbsp;Events</li></h2>

					<li>
						<form th:action="@{/addTeamsAPI}" method="post">
							<button type="submit">GenerateAPITeams</button>
						</form>
					</li>
					<li>
						<form th:action="@{/addPlayersAPI}" method="post">
							<button type="submit">GenerateAPIPlayers</button>
						</form>
					</li>

                    <li>
						<div class="dropdown">
							<button class="dropbtn">Tables</button>
							<div class="dropdown-content">
								<a th:href="@{/userTable}">User</a>
								<a th:href="@{/teamTable}">Team</a>
								<a th:href="@{/playerTable}">Player</a>
								<a th:href="@{/gameTable}">Game</a>
								<a th:href="@{/eventTable}">Event</a>
							</div>
						</div>
					</li>
                    <li><a href = "">Others</a></li>

                </ul>
			</nav>
        </main>

        <footer>

        </footer>
    </body>
</html>