<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--page's setup-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1">

		<meta name = "description" content = "">
		<meta name = "author" content = "">

        <title>scoreDEI</title>

		<!--Online method of including fonts-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		
		<link rel = "stylesheet" href = "/css/mainstyle.css">
        <link rel = "stylesheet" href = "/css/login.css">
		<link rel = "icon" href = "">
    </head>

    <!--page's content-->
    <body>
        <header>
			<!-- Login nav bar  -->
			<nav class = "header-nav">
				<!-- Anonymous user -->
				<ul th:if="${session.authToken == null}">
                    <li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{login}">Login</a></li>
					<!--<li><a th:href="@{register}">Register</a></li>-->
                    <div class="dragright">
                        <li><button class="rightbtn">Tables</button></li>
                        <div class="dragright-content">
                            <li><a th:href="@{/userTable}">User</a></li>
                            <li><a th:href="@{/teamTable}">Team</a></li>
                            <li><a th:href="@{/playerTable}">Player</a></li>
                            <li><a th:href="@{/gameTable}">Game</a></li>
                            <li><a th:href="@{/eventTable}">Event</a></li>
                        </div>
                    </div>
                </ul>
				<!-- User logged in -->
				<ul th:if="${session.authToken != null}">
                    <li><a th:href="@{/}">Home</a></li>
					<li class = "nav-title"><h4><span th:text="${session.username}"/></h4></li>
					<li>
						<form th:action="@{/logout}" method="post">
							<button type="submit">Logout</button>
						</form>
					</li>
                    <div class="dragright">
                        <li><button class="rightbtn">Tables</button></li>
                        <div class="dragright-content">
                            <li><a th:href="@{/userTable}">User</a></li>
                            <li><a th:href="@{/teamTable}">Team</a></li>
                            <li><a th:href="@{/playerTable}">Player</a></li>
                            <li><a th:href="@{/gameTable}">Game</a></li>
                            <li><a th:href="@{/eventTable}">Event</a></li>
                        </div>
                    </div>
                </ul>
			</nav>
        </header>

        <main>
			<!-- Main menu nav bar  -->
			<nav class="main-nav">
				<ul>
                    <h2><li class="nav-title">scoreDEI&nbsp;Manage&nbsp;Player</li></h2>
					
                    <table class="input-form">
                        <form th:action="@{/savePlayer}" th:object="${player}" method="post">
                            <tr>
                                <th><input type="hidden" th:field="*{id}"></th>
                            </tr>
                            <tr>
                                <th><label>First&nbsp;Name</label></th>
                                <th><input type="text" th:field="*{firstname}"></th>
                            </tr>
                            <tr>
                                <th><label>Last&nbsp;Name</label></th>
                                <th><input type="text" th:field="*{lastname}"></th>
                            </tr>
                            <tr>
                                <th><label>Age</label></th>
                                <th><input type="number" th:field="*{age}"></th>
                            </tr>
                            <tr>
                                <th><label>Birthdate</label></th>
                                <th><input type="date" th:field="*{birthdate}"></th>
                            </tr>
                            <tr>
                                <th><label>Nationality</label></th>
                                <th><input type="text" th:field="*{nationality}"></th>
                            </tr>
                            <tr>
                                <th><label>Goals</label></th>
                                <th><input type="number" th:field="*{goals}"></th>
                            </tr>
                            <tr>
                                <th><label>Position</label></th>
                                <th><input type="text" th:field="*{position}"></th>
                            </tr>
                            <tr>
                                <th><label>Team</label></th>
                                <th>
                                    <select th:field="*{team.id}">
                                        <option th:each="t: ${teams}" th:value=${t.id} th:text="${t.name}"></option>
                                    </select>
                                </th>
                            </tr>

                            <tr>
                                <th class="submit-box"><li><input type="submit" value="Edit/Create Player"></li></th>
                            </tr>
                            
                        </form>
                        
                        <span th:if="${player.firstname != null}">
                            <form th:action="@{/deletePlayer}" th:object="${player}" method="post">
                                <tr>
                                    <th><input type="hidden" th:field="*{id}"></th>
                                </tr>
                                <tr>
                                    <th class="submit-box"><li><input style="font-size: 1rem" type="submit" value="Delete Player"></li></th>
                                </tr>
                            </form>
                        </span>
                    </table>
                    <div class="error-box" th:if="${errors != null}">
                        <p th:each="err : ${errors}" th:text="${err}"></p>
                    </div>
                    
                </ul>
			</nav>
        </main>

        <footer>

        </footer>
    </body>
</html>