<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--page's setup-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1">

		<meta name = "description" content = "">
		<meta name = "author" content = "">

        <title>scoreDEI</title>

		<!--Online method of including fonts-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		
		<link rel = "stylesheet" href = "/css/mainstyle.css">
		<link rel = "icon" href = "">
    </head>

    <!--page's content-->
    <body>
        <header>

        </header>

        <main>
			<div style="font-size: 1.4rem; text-align: center; margin-top: 20%;">
				<h1><a th:href="@{/}">Home</a></h1>
            	<p>Specified page could not be found!</p>
			</div>
        </main>

        <footer>

        </footer>
    </body>
</html>