<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--page's setup-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1">

		<meta name = "description" content = "">
		<meta name = "author" content = "">

        <title>scoreDEI</title>

		<!--Online method of including fonts-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		
		<link rel = "stylesheet" href = "/css/mainstyle.css">
        <link rel = "stylesheet" href = "/css/teams.css">
		<link rel = "icon" href = "">
    </head>

    <!--page's content-->
    <body>
        <header>
			<!-- Login nav bar  -->
			<nav class = "header-nav">
				<!-- Anonymous user -->
				<ul th:if="${session.authToken == null}">
                    <li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{login}">Login</a></li>
					<!--<li><a th:href="@{register}">Register</a></li>-->
                    <li><a th:href="@{gameList}">Game&nbsp;List</a></li>
                </ul>
				<!-- User logged in -->
				<ul th:if="${session.authToken != null}">
                    <li><a th:href="@{/}">Home</a></li>
					<li class = "nav-title"><h4><span th:text="${session.username}"/></h4></li>
					<li>
						<form th:action="@{/logout}" method="post">
							<button type="submit">Logout</button>
						</form>
					</li>
                    <li><a th:href="@{gameList}">Game&nbsp;List</a></li>
                </ul>
			</nav>
        </header>

        <main>
			<!-- Main menu nav bar  -->
			<nav class = "main-nav">
				<ul>
                    <h2><li class="nav-title">scoreDEI&nbsp;Player</li></h2>
                    <h4 th:if="${player != null}">
                        <li class="nav-title">
                            <div th:text="${player.getFirstname()} + ' ' + ${player.getLastname()}"></div>
                            <hr style="margin-top:3%">
                            <table class="player-table">
                                <tr>
                                    <th><span class="describer">Firstname</span></th>
                                    <th><span th:text="${player.getFirstname()}"></span></th>
                                </tr>
                                <tr>
                                    <th><span class="describer">Lastname</span></th>
                                    <th><span th:text="${player.getLastname()}"></span></th>
                                </tr>
                                <tr>
                                    <th><span class="describer">Age</span></th>
                                    <th><span th:text="${player.getAge()}"></span></th>
                                </tr>
                                <tr>
                                    <th><span class="describer">Birthdate</span></th>
                                    <th><span th:text="${player.getBirthdate()}"></span></th>
                                </tr>
                                <tr>
                                    <th><span class="describer">Country</span></th>
                                    <th><span th:text="${player.getNationality()}"></span></th>
                                </tr>
                            </table>
                            <hr>
                            <table class="player-table">
                                <tr>
                                    <th><span class="describer">Team</span></th>
                                    <th><span th:text="${player.getTeam.getName()}"></span></th>
                                </tr>
                                <tr>
                                    <th><span class="describer">Position</span></th>
                                    <th><span th:text="${player.getPosition()}"></span></th>
                                </tr>
                                <tr>
                                    <th><span class="describer">Goals</span></th>
                                    <th><span th:text="${player.getGoals()}"></span></th>
                                </tr>
                            </table>
                        </li>
                    </h4>

                    <div class="error-box" th:if="${errors != null}">
                        <p th:each="err : ${errors}" th:text="${err}"></p>
                    </div>
                </ul>
			</nav>
        </main>

        <footer>

        </footer>
    </body>
</html>